/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
}

.form-container {
    background-color: white;
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    
}

.error {
    font-size: 12px;
}

.success {
    font-size: 12px;
}

#btn{
width: 120px;
height: 30px;
border-radius: 5px 5px 5px 5px;
border: 1px 1px 1px 1px;
}
